.testimonial {

	.tiles-item-inner {
		background: get-color(light, 2);
        color: #252B42;

        h4 {
            color: #252B42;
            &:hover {
                color: #fff !important;
            }
        }

        &:hover {
            transition: 400ms;
            background: #00A0C1;
            color: #fff !important;
        }		
	}
}

/* .dark {
    color: #252B42;
} */

.testimonial-item-footer {
    font-weight: 600;
    padding-top: 20px;

    &.has-top-divider {

        &::before {
            background: get-color(light, 3);
        }
    }
}

.testimonial-item-link {
	color: get-color(secondary, 3);

	a {
        color: get-color(secondary, 3);
        text-decoration: none;

        &:hover {
            color: get-color(secondary, 2);
        }
	}
}