.alice-carousel__dots {
	display: none;
    justify-content: center;
    margin-bottom: 0px!important;
}

.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item{
    display: inline-grid;
    justify-content: center;
    background-color: #00A0C1;
    color: #c7c7c7;
    width: 20%;
    font-size: 24px;
    flex-direction: row;
}

.has-top-divider::before {
    background: transparent
}

.alice-carousel__next-btn-item:hover, .alice-carousel__prev-btn-item:hover {
    transition: 400ms;
    color: #00A0C1;
    background-color: #fff;
}

.item-carousel {
    display: flex;
    height: 340px;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
}

.navbar-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-bottom: 20px;
}

.navbar-caroursel, button {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
}
