.hero {

	.section-inner {
		padding-top: $hero--padding-t__mobile;
		padding-bottom: $hero--padding-b__mobile;
	}
}

.hero-inner {
	margin-left: -160px;

	@media screen and (max-width:415px) {
		margin-left: 0px;
	}

	// Affects only hero full
	> .hero-content + .hero-figure,
	> .hero-figure + .hero-content {
		margin-top: $hero--inner-padding-v_mobile;
		
        @media screen and (max-width:415px) {
			display: flex;
			width: 100%;
			flex-direction: column;
			align-items: center;
        }
	}

	> .hero-figure {
		:hover {
			> .hero-figure-inner {
				> .hero-figure-bg {
					opacity: 2.8;
				}
			}
		}

		> a {
			display: inline-flex;
			// prevents stretching
			align-items: center;
			vertical-align: top;
		}
	}
}

@include media( '<=medium' ) {

	.hero {

		.split-wrap {

			.split-item {

				.split-item-content {
					margin-bottom: $hero--inner-padding-v_mobile;
				}
			}

			&.invert-mobile {

				.split-item {

					.split-item-image {
						margin-bottom: $hero--inner-padding-v_mobile;
					}
				}
			}
		}
	}
}

@include media( '>medium' ) {

	.hero {

		.section-inner {
			padding-top: 90px;
			padding-bottom: 50px;
		}
	}

	.hero-inner {

		// Affects only hero full
		> .hero-content + .hero-figure,
		> .hero-figure + .hero-content {
			margin-top: $hero--inner-padding-v_desktop;
		}
	}
}

.hero-mobile {
	@media screen and (max-width:415px) {
		display: none;
	}
}

.paddingTopZero {
	padding-top: 0px;
}

.paddingZero {
	@media screen and (max-width:415px) {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		padding-left: 5px !important;
		padding-right: 5px !important;
		align-items: center;
	}
}